{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Forgot Password - BuyT</title>

    <link rel="stylesheet"
          href="{% static 'login.css' %}">

</head>

<body>

<div class="container">

    <div class="login-box">

        <h1>Forgot Password</h1>

        <p>
            Enter your registered email address.
        </p>

        {% if message %}
            <div class="signup-link">
                <h5>{{ message }}</h5>
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your registered email"
                    required
                >

            </div>

            <button type="submit">
                Send OTP
            </button>

        </form>

        <div class="signup-link">

            <a href="{% url 'login' %}">
                ← Back to Login
            </a>

        </div>

    </div>

</div>

</body>

</html>