{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Reset Password - BuyT</title>

    <link rel="stylesheet"
          href="{% static 'login.css' %}">

</head>

<body>

<div class="container">

    <div class="login-box">

        <h1>Reset Password</h1>

        <p>
            Create your new BuyT password.
        </p>

        {% if message %}
            <div class="signup-link">
                <h5>{{ message }}</h5>
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-box">

                <label>New Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter new password"
                    required
                >

            </div>

            <div class="input-box">

                <label>Confirm Password</label>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required
                >

            </div>

            <button type="submit">
                Reset Password
            </button>

        </form>

    </div>

</div>

</body>

</html>