{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>BuyT Admin Login</title>

    <link rel="stylesheet"
          href="{% static 'admin-login.css' %}">

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>BuyT</h1>

        <p class="admin-title">
            Admin Panel
        </p>

        <h2>Administrator Login</h2>

        {% if message %}
            <div class="error-message">
                {{ message }}
            </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">

                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter admin email"
                    required
                >

            </div>


            <div class="input-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

            </div>
            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="{% url 'admin_forgot_password' %}">Forgot Password?</a>
            </div>


            <button type="submit">
                Login
            </button>

            <div class="signup-link">
                Don't have an account?
                <a href="{% url 'admin_signup' %}">Sign Up</a>
                
            </div>

        </form>

    </div>

</div>

</body>

</html>